@page
@using System.Text.Json.Serialization
@using Newtonsoft.Json
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-auto">
            <div class="p-3 border">
                @if (Model.Output.IsSuccess == true)
                {
                    <div class="alert alert-success" role="alert">
                        <pre>@JsonConvert.SerializeObject(Model.Output.Response, Formatting.Indented)</pre>
                    </div>
                }
                else if (Model.Output.IsSuccess == false)
                {
                    <div class="alert alert-danger" role="alert">
                        <pre>@Model.Output.Reason</pre>
                    </div>
                }
                <form method="post">
                    <div class="mb-3">
                        <label asp-for="Input.Login" class="form-label">Login</label>
                        <input asp-for="Input.Login" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label asp-for="Input.Password" class="form-label">Password</label>
                        <input asp-for="Input.Password" type="password" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
